@import "tailwindcss";

:root {
  --background: #f8fafc;
  --foreground: #0f172a;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

@layer base {
  * {
    border-color: rgba(0, 0, 0, 0.05);
  }
}

.code-font {
  font-family: var(--font-mono);
}